In [ ]:

my_list = [10, 20, 30, 40, 50]


element_to_find = 30


if element_to_find in my_list:
    index = my_list.index(element_to_find)
    print(f"The index of {element_to_find} is {index}.")
else:
    print(f"{element_to_find} is not in the list.")

The index of 30 is 2.

In [ ]:
a=10
b=20
if(a>b):
  print(f"{a} is greater than {b}")
elif(b>a):
  print(f"{b} is greater than {a}")
else:
  print("Both are equal")

20 is greater than 10

In [1]:
my_list = [10, 20, 30, 40, 50, 8, 8, 10, 30, 8 ,8]
element_to_count = 8

count = my_list.count(element_to_count)
print(f"The element {element_to_count} appears {count} times in the list.")

The element 8 appears 4 times in the list.

In [4]:
def is_palindrome(text):
  text = text.lower().replace(" ", "")
  return text == text[::-1]

text = "hoh"

if is_palindrome(text):
  print("It's a palindrome!")
else:
  print("It's not a palindrome.")

It's a palindrome!

In [5]:
my_list = [10, 20, 30, 40, 50]
remove = 30

if remove in my_list:
  my_list.remove(remove)
  print(f"The element {remove} has been removed from the list.")
  print("Updated list:", my_list)
else:
  print(f"The element {remove} is not in the list.")

The element 30 has been removed from the list.
Updated list: [10, 20, 40, 50]

In [6]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combinedlist = list1 + list2
count = len(combinedlist)

print("Combined list:", combinedlist)
print("Count of elements:", count)

Combined list: [1, 2, 3, 4, 5, 6]
Count of elements: 6

In [7]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

result = []
for i in range(len(list1)):
  result.append(list1[i] + list2[i])

print("Sum of elements at corresponding positions:", result)

Sum of elements at corresponding positions: [5, 7, 9]

In [8]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1, list2 = list2, list1

print("List 1:", list1)
print("List 2:", list2)

List 1: [4, 5, 6]
List 2: [1, 2, 3]

In [9]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [10]:
text = "This is a sample text."
vowels = "aeiouAEIOU"
vowel_count = 0

for char in text:
  if char in vowels:
    vowel_count += 1

print("Number of vowels:", vowel_count)

Number of vowels: 6